@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 100vh;
    background-colo: #f7fafd;
}

/*Start of sidebar section*/
a, a:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebarCollapse {
    margin-bottom: 1em;
}

#sidebar {
    min-width: 90px;
    max-width: 90px;
    height: 100vh;
    background: rgba(64,200,243,0.5);
    color: #fff;
    transition: all 0.3s;
    text-align: center;
}

#sidebar:hover {
    min-width: 200px;
    max-width: 200px; 
    text-align: left;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
   display: none;
}

#sidebar:hover .sidebar-header {
    display: block;
    text-align: center;
    padding: 20px 0 20px 0;
    background: rgba(64,200,243,0.6);
    box-shadow: -2px 1px 5px 0px rgba(20,20,20,0.75);
}

.sidebar-header h3 {
    font-weight: 900;
    font-size: 1.5em;
}

#sidebar ul.container {
    padding: 20px 5px;
}

#sidebar ul li a {
    padding: 10px;
    padding-right: 4px;
    font-size: 0.85rem;
    display: block;
}

#sidebar:hover ul li a {
    padding: 20px 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #40c8f3;
    background: #fff;
}

#sidebar:hover .icon{
    padding-right: 4px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #40c8f3;
}

.log-out {
    display: none;
} 

#sidebar:hover .log-out {
    margin: 11em 0em 0em 1em;
    display: block;
}

.log-out2 {
    margin-top: 9.8em;
}

/*Start of middle section*/
#content {
    max-height: 100vh;
    width: 100%;
    display: non;
} 

.content-middle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3em 3em;
    background-color: #f7fafd;
}

.intro {
    display: flex;
    align-content: center;
}

.media-text {
    line-height: 0.5em;
    padding: 0.6em 0 0 1em;
    font-weight: 400;
    font-size: 1.3em;
}

.explainer {
    margin-top: 3em;
    line-height: 2.75em;
    font-size: 1.3em;
    font-weight: 400;
    /*text-align: center;*/
}

.start-journey-button {
    margin-top: 7.5em;
    /*text-align: center;*/
}

.btn-5{
    padding: 1em 2em;
    font-weight: 500;
}


/*Start of form section*/
#user-form {
    display: none;
    padding: 4em;
    width: 100%;
}

.form-group1 {
    font-weight: 900;
    margin: 4em;
    background-color: #b6ff00;
    padding: 2em;
    border-radius: 10px;
    box-shadow: -4px 7px 7px 1px rgba(20,20,20,0.75);
}

.form-group1 h5 {
    margin-bottom: 2em;
}

.form-check {
    margin-bottom: 2em;
}

/*course-cards section*/
#courses {
    display: none;
}

.course-cards {
    display: flex;
    flex-direction: row;
}

.card-container1, .card-container2, .card-container3 {
    display: flex;
    flex-direction: column;
}
.card {
    margin: 2em;
    box-shadow: -3px 9px 8px -2px rgba(0,0,0,0.46);
}

.card p {
    display: none;
}

.card:hover p{
display: block;
transition: all 0.3s;
}

  /*Start of media queries*/
  @media (max-width: 768px) {
      body {
          width: 100%;
          overflow-x: hidden;
      }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
/*Start of form section*/
    .form-group1 {
        margin: 3em;
    }

    /*Start of card section*/
    .course-cards {
        display: flex;
        flex-direction: column;
    }
    .card-container1, .card-container2, .card-container3 {
        display: flex;
        flex-direction: column;
    }
}



